@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f0f0f0;
  --font-color: #3f3f3f;
  --secondary-color: #c1c1c1;
  --p1-color: #777efa;
  --p2-color: #ff6a6a;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
}

main {
  margin: 0 auto;
  max-width: 40rem;
  height: 100%;
  padding: 2rem;
}

header {
  height: 5rem;
}

h1 {
  height: 3.6rem;
  width: 25rem;
  margin: 0 auto;
  margin-top: 1.3rem;

  text-align: center;
  font-family: Kanit, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 2.6rem;
}

section {
  height: 80%;
}

input {
  font-family: Kanit, 'Times New Roman', serif;
}

/*Placar e mudar tema*/

#scoreBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
}

#scoreBoardInputs {
  margin-left: 2.5rem;
}

#scoreBoardInputs input {
  width: 3rem;
  height: 3rem;
  border: .125rem solid var(--secondary-color);
  border-radius: 0.4rem;

  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

#changeThema {
  width: 6rem;
  height: 2rem;
  margin-right: 2.5rem;
  border: 0;
  border-radius: 0.4rem;
  font-family: Kanit, 'Times New Roman', serif;
}

/*Tela para iniciar o jogo*/

#startGame input {
  width: 25rem;
  height: 3rem;
  border: 0;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#startGame input[type="text"] {
  padding-left: 0.8rem;
  border: .125rem solid var(--secondary-color);
}

/*Encontrei essa solução na internet mas ainda preciso entender melhor*/
#playerOne:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset;
  -webkit-text-fill-color: var(--p1-color) !important;
  font-weight: 600;
}

#playerTwo:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset;
  -webkit-text-fill-color: var(--p2-color) !important;
  font-weight: 600;
}

::placeholder {
  color: var(--secondary-color);
  font-weight: 200;
}

#btnStartGame {
  font-size: 1.4rem;
}

/*Tabuleiro do jogo*/

#ticTacToeBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
}

#gameMessages {
  grid-column: 1/4;
  width: 25rem;
  height: 3rem;
  border: .125rem solid var(--secondary-color);
  border-radius: 0.4rem;

  padding-left: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.boardItems {
  width: 8rem;
  height: 5rem;
  border: 0;
  border-radius: 0.4rem;
  background-color: var(--secondary-color);

  font-weight: 600;
  font-size: 2.8rem;
}

.boardItems:hover {
  filter: brightness(0.8);
}

#btnEndRound {
  grid-column: 1/4;
}

#btnEndRound input {
  width: 12.3rem;
  height: 3rem;
  border: 0;
  border-radius: 0.4rem;

  font-size: 1.4rem;
}

/*Classes gerais*/

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.pointer {
  cursor: pointer;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-weight: 600;
}

.btn:hover {
  filter: brightness(0.8);
}

.p1-inputs {
  color: var(--p1-color);
  background-color: var(--primary-color);
}

.p2-inputs {
  color: var(--p2-color);
  background-color: var(--primary-color);
}

.p1-plays {
  color: var(--p1-color);
  background-color: var(--secondary-color);
}

.p2-plays {
  color: var(--p2-color);
  background-color: var(--secondary-color);
}

.p1-win-plays {
  background-color: var(--p1-color);
}

.p2-win-plays {
  background-color: var(--p2-color);
}

.empate {
  color: var(--font-color);
}

